*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.layout {
    
    background-color: rgb(255, 255, 255);
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main; }
  .footer { grid-area: footer; }



  #home{
    width: 100%;
    height: auto;
    
    margin-bottom: 100px;
    
    
  }

  #home img{
    height: 900px;
  }
  
  .carrousel{
    display: flex;
    justify-content: center;
  }
  
  
  .card{
    margin-top: 50px;
    
  }

  header {
    width: 100%;
    position: fixed;
    z-index: 100;
    
  }

  header a{
    margin-left: 30px;
  }
  
  .nosotros{
    display: flex;
    justify-content: center;
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
}
button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
    }

/* Estilo por defecto (tema claro) */
body[data-theme='light'] {
  background-color: white;
  color: black;
}

/* Tema oscuro */
body[data-theme='dark'] {
  background-color: black;
  color: white;
}
